.skills_title{
    text-align: center;
}
.skills_container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}

.skill_card {
  padding: 10px 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: default;
}

.skill_card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
