.card_container {
  background: #ffffff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.card_container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
}

.card_content img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 8px;
  background-color: #fff;
  display: block;
  z-index: 1;
  position: relative;
  transition: transform .45s ease;
}

.card_container:hover .card_content img {
  transform: scale(1.05);
}



.card_container::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 80%; 

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1) 0%,       
    rgba(0, 0, 0, 1) 15%,       
    rgba(0, 0, 0, 0.85) 35%,   
    rgba(0, 0, 0, 0.55) 60%,    
    rgba(0, 0, 0, 0.25) 80%,    
    rgba(0, 0, 0, 0) 100%
  );

  opacity: 0;
  z-index: 2;
  transition: opacity .45s ease;
}

.card_container:hover::before {
  opacity: 1;
}



.card_title,
.card_description,
.card_tools {
  position: relative;
  z-index: 3;
  opacity: 0;
  transform: translateY(18px);
  transition: opacity .45s ease, transform .45s ease;
}

.card_container:hover .card_title,
.card_container:hover .card_description,
.card_container:hover .card_tools {
  opacity: 1;
  transform: translateY(0);
}

.card_title {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 1rem 0 0.5rem;
  color: #fff;
}

.card_description {
  font-size: 0.95rem;
  color: #eee;
  margin-bottom: 1rem;
}

.card_tools ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.card_tools li {
  background: rgba(255,255,255,0.41);
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 0.8rem;
  color: #fff;
}



.card_icon_container {
  position: absolute;
  bottom: 12px;
  right: 12px;
  z-index: 4;
  transition: transform .45s ease;
}

.card_container:hover .card_icon_container {
  transform: translateY(-4px);
}

.card_icon {
  width: 28px;
  height: 28px;
  background-color: white;
  border-radius: 20px;
}


@media (max-width: 768px) {
  .card_container {
    padding: 1rem;
  }
}
