html, body, #root {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

#root{
    display: flex;
    flex-direction: column;
}
main {
  flex: 1;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}







