#about_section{
  width: 100%;
  background-color: #fafafa;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: center;
}
.about_container{
  max-width: 1100px;
  display: flex;
  align-items: center;
  gap: 40px;

}
.about_text_block{
  width: 60%;
}
.about_img {
  width: 100%;
  max-width: 280px;

}

.about_title {
  font-size: 28px;
  margin-bottom: 20px;

}
.about_text {
  font-family: 'inter', sans-serif;
  font-style: italic;
  line-height: 1.6;
  font-size: 19px;
}
.about_quote em {
  color: #555;
}

.about_quote {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
}

@media (max-width: 768px){
.about_container{
  display: flex;
  flex-direction: column;
}
}



